<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/
    bulma.min.css" rel="stylesheet">
    <style>
      .eachItem {
        background-color: darkkhaki;
        display: inline-block;
        text-align: center;
        width: 230px;
        height: 450px;
        margin: 15px 10px 10px 10px;
      }
      img {
        width: 200px;
        height: 150px;
      }
    </style>
  </head>
  <body>     
        <div>
        <h1><%= currentFoodItem.itemName %></h1>
        <p>PRICE: <%= currentFoodItem.price%></p>
        <p>PostedTime: <%= currentFoodItem.time%></p>
        <p>OrderNote: <%= currentFoodItem.orderNote%></p>
        <p>Location: <%= currentFoodItem.location%></p>
        <img src="<%= currentFoodItem.img %>" />
        <p>Description<%= currentFoodItem.description %></p>   
        </div>
  </body>
</html>
