<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        .eachItem {
        background-color: darkkhaki;
        display: inline-block;
        text-align: center;
        width: 230px;
        height: 350px;
        margin: 15px 10px 10px 10px;
      }
      img {
        width: 200px;
        height:150px;
      }
    </style>
</head>
<body>
    <div id="header">
        <h1>HOME FOOD</h1>  
    </div>
  <div class="allItemsContainer">
      <% allItems.forEach((eachItem,index) => {%>    
        <div class="eachItem">
            <p> ItemName: <%=eachItem.itemName; %></p>
            <a href="/homeServices/<%= eachItem._id %>"> <img src="<%= eachItem.img %>"/> </a>
            <p>  Price: <%=eachItem.price; %> </p>
            <p> Description: <%=eachItem.description; %> </p>
            <p> orderNote: <%=eachItem.orderNote; %> </p>
            <p> Location: <%=eachItem.location; %> </p>
            <p> PostedTime: <%=eachItem.time; %> </p>
      </div>
    <% }) %>
    
    </div>
</body>
</html>